@model IEnumerable<LaMielApp.Models.Product>
@{
    ViewData["Title"] = "Catálogo";
}

<div class="seccion-titulo" >
  <h5 class="titulo-prim">@ViewData["Title"]</h5>
</div>
<div class="container-buscar">
    <form>
      <input class="form-control buscar-producto" type="search" placeholder="Buscar" aria-label="Search" value=" @ViewData["Getemployeedetails"]" name="Empsearch">
      <button class="btn btn-prim" type="submit">Buscar</button>
    </form>
  </div>
<div class="seccion-titulo" >
  <h5 class="titulo-seccion">@ViewData["Message"]</h5>
</div>
<div class="contenedor-catalogo">
    @foreach (var item in Model)
    { @if(item.Status.Equals("Activo")){
    <div class="card">
        <div class="card-body">
            <div class="card-img-actions">
                <img class="img-catalogo" width="96" height="150" src="@Url.ActionLink("MostrarImagen","Catalogo",new { id=item.Id })"/>
            </div>
        </div>
        <div class="card-body">
            <h5 class="nom-producto">@Html.DisplayFor(modelItem => item.Name)</h5>
            <p class="precio-producto">@Html.DisplayFor(modelItem => item.Price)</p>
            <div class="catalogo-btn">
            <a class="btn btn-prim" asp-action="Add" asp-route-id="@item.Id">Añadir</a>
            <a class="btn btn-sec" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            </div>
        </div>
    </div>
    }}
</div>