@model IEnumerable<LaMielApp.Models.Product>
@{
    ViewData["Title"] = "Catalogo";
}

<div class="seccion-titulo" >
  <h5 class="titulo-prim">@ViewData["Title"]</h5>
</div>
<div class="seccion-titulo" >
  <h5 class="titulo-seccion">@ViewData["Message"]</h5>
</div>
<div class="contenedor-catalogo">
    @foreach (var item in Model)
    {
    <div class="card">
        <div class="card-body">
            <div class="card-img-actions">
                <img class="img-catalogo" width="96" height="150" src="/img/@item.ImagenName"
                    alt="@item.ImagenName" />
            </div>
        </div>
        <div class="card-body">
            <h5 class="nom-producto">@Html.DisplayFor(modelItem => item.Name)</h5>
            <p class="precio-producto">@Html.DisplayFor(modelItem => item.Price)</p>
            <div class="catalogo-btn">
            <a class="btn btn-prim" asp-action="Add" asp-route-id="@item.Id">Add</a>
            <a class="btn btn-sec" asp-action="Details" asp-route-id="@item.Id">View</a>
            </div>
        </div>
    </div>
    }
</div>