@model IEnumerable<LaMielApp.Models.Pedido>
@{

  ViewData["Title"] = "Pedidos del cliente";
}

<div class="seccion-titulo">
  <h5 class="titulo-prim">@ViewData["Title"]</h5>
</div>
<div class="seccion-titulo">
  <h5 class="titulo-seccion">@ViewData["Message"]</h5>
</div>
<div class="container-carrito">
  <table class="table table-border table-hover" id="tabla">
    <thead>
      <tr>
        <th>
          <h5 class="titulo-carrito">ID</h5>
        </th>
        <th>
          <h5 class="titulo-carrito">Cliente</h5>
        </th>
        <th>
          <h5 class="titulo-carrito">Dirección</h5>
        </th>
        <th>
          <h5 class="titulo-carrito">Entrega</h5>
        </th>
        <th>
          <h5 class="titulo-carrito">Total</h5>
        </th>
        <th>
          <h5 class="titulo-carrito">Estado</h5>
        </th>
        <th>
          <h5 class="titulo-carrito">Boleta</h5>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (Pedido item in Model)
      {
        <tr>
          <td>
            <h5 class="info-pedido">
              @Html.DisplayFor(modelItem => item.ID)
            </h5>
          </td>
          <td>
            <h5 class="info-pedido">
              @Html.DisplayFor(modelItem => item.pago.Nombres) @Html.DisplayFor(modelItem => item.pago.Apellidos)
            </h5>
          </td>
          <td>
            <h5 class="info-pedido">
              @Html.DisplayFor(modelItem => item.pago.Direccion)
            </h5>
          </td>
          <td>
            <h5 class="info-pedido">
              @Html.DisplayFor(modelItem => item.pago.FechaEntrega)
            </h5>
          </td>
          <td>
            <h5 class="info-pedido">
              @Html.DisplayFor(modelItem => item.Total)
            </h5>
          </td>
          <td>
            <h5 class="info-pedido">
              @Html.DisplayFor(modelItem => item.Status)
            </h5>
          </td>
          <td>
            <h5 class="info-pedido">
              <a asp-controller="Proforma" asp-action="Documento" asp-route-id="@item.pago.Id"> Ver Boleta </a>
            </h5>
          </td>
          @if (item.Status != "ENTREGADO")
          {
            <td class="info-pedido">
              <a class="btn-editar" asp-action="EditUsu" asp-route-id="@item.ID">Editar</a>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="col-md-4 offset-md-4 text-center">
  <a class="btn btn-eliminar" asp-action="ReporteUsu"><i class="fas fa-file-pdf"></i> Exportar datos a Pdf</a>
</div>